# ======================
# Node.js  普通にプログラムの上位で置きます
# ======================

# npm installで作成されるフォルダ
node_modules/

# npmログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ======================
# Build
# ======================

# UI5 build結果
dist/
build/


# ======================
# Environment
# ======================

# 環境変数
.env
.env.*


# ======================
# VS Code
# ======================

# 個人設定
.vscode/

# ======================
# OS
# ======================

.DS_Store
Thumbs.db


# ======================
# Temporary
# ======================

*.tmp
*.bak
*.log